# Test Report


## Automatic Unit Testing

### Test suite 1
- Date 12/9 2022
- Version 1.1.0
#### Notes
- note1<br>
- note 2<br>
<img src="./img/test-suites/12sep22.png" width="400px"><br>