# Test Report


## Automatic Unit Testing

* Test suite 
- Date 12/9 2022
- Version 1.1.0

<img src="./img/test-suites/12sep22.png" width="400px">